<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hivroms">

    <application
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiVroms">
        <activity android:name=".CreatePostActivity"
            android:parentActivityName="com.example.hivroms.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hivroms.MainActivity" />

        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>